@import 'custom_mixin';
body {

  display: flex;
  font-weight: 200;
  @include font-size($body-font-size);
  h1{
    @include mobile{
        @include font-size(13px);
    };
     @include box-emboss(0.8, 0.05);
     @include text-shadow(red,0.5);
     animation: slide-down 5s 3;
     transition: color(orange) .3s ease;

     @include retina-sprite($-direction-group); 
  }

}

@keyframes slide-down {
  0% { opacity: 1; }
 90% { opacity: 0; }
}
