/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$-direction-name: 'Direction';
$-direction-x: 0px;
$-direction-y: 0px;
$-direction-offset-x: 0px;
$-direction-offset-y: 0px;
$-direction-width: 32px;
$-direction-height: 34px;
$-direction-total-width: 74px;
$-direction-total-height: 34px;
$-direction-image: '../img/sprite.png';
$-direction: (0px, 0px, 0px, 0px, 32px, 34px, 74px, 34px, '../img/sprite.png', 'Direction', );
$-direction1-name: 'Direction1';
$-direction1-x: 42px;
$-direction1-y: 0px;
$-direction1-offset-x: -42px;
$-direction1-offset-y: 0px;
$-direction1-width: 32px;
$-direction1-height: 34px;
$-direction1-total-width: 74px;
$-direction1-total-height: 34px;
$-direction1-image: '../img/sprite.png';
$-direction1: (42px, 0px, -42px, 0px, 32px, 34px, 74px, 34px, '../img/sprite.png', 'Direction1', );
$-direction1-2x-name: 'Direction1@2x';
$-direction1-2x-x: 0px;
$-direction1-2x-y: 0px;
$-direction1-2x-offset-x: 0px;
$-direction1-2x-offset-y: 0px;
$-direction1-2x-width: 64px;
$-direction1-2x-height: 68px;
$-direction1-2x-total-width: 148px;
$-direction1-2x-total-height: 68px;
$-direction1-2x-image: '../img/sprite@2x.png';
$-direction1-2x: (0px, 0px, 0px, 0px, 64px, 68px, 148px, 68px, '../img/sprite@2x.png', 'Direction1@2x', );
$-direction-2x-name: 'Direction@2x';
$-direction-2x-x: 84px;
$-direction-2x-y: 0px;
$-direction-2x-offset-x: -84px;
$-direction-2x-offset-y: 0px;
$-direction-2x-width: 64px;
$-direction-2x-height: 68px;
$-direction-2x-total-width: 148px;
$-direction-2x-total-height: 68px;
$-direction-2x-image: '../img/sprite@2x.png';
$-direction-2x: (84px, 0px, -84px, 0px, 64px, 68px, 148px, 68px, '../img/sprite@2x.png', 'Direction@2x', );
$spritesheet-width: 74px;
$spritesheet-height: 34px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($-direction, $-direction1, );
$spritesheet: (74px, 34px, '../img/sprite.png', $spritesheet-sprites, );
$-sprite-2x-scss-width: 148px;
$-sprite-2x-scss-height: 68px;
$-sprite-2x-scss-image: '../img/sprite@2x.png';
$-sprite-2x-scss-sprites: ($-direction1-2x, $-direction-2x, );
$-sprite-2x-scss: (148px, 68px, '../img/sprite@2x.png', $-sprite-2x-scss-sprites, );

/*
These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
*/
$-direction-group-name: 'Direction';
$-direction-group: ('Direction', $-direction, $-direction1-2x, );
$-direction1-group-name: 'Direction1';
$-direction1-group: ('Direction1', $-direction1, $-direction-2x, );
$retina-groups: ($-direction-group, $-direction1-group, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
  It should be used with a "retina group" variable.

The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/

$icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );

.icon-home {
  @include retina-sprite($icon-home-group);
}
*/
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

/*
The `retina-sprites` mixin generates a CSS rule and media query for retina groups
  This yields the same output as CSS retina template but can be overridden in SCSS

@include retina-sprites($retina-groups);
*/
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
