include ../layout/header.jade
h1 #{title}
div.fullscreen
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
     Praesent eget aliquam neque. Fusce nec augue luctus,
     scelerisque lorem vel, consequat odio. Donec turpis erat,
     pharetra non hendrerit vitae, interdum non neque. Duis feugiat,
     lorem vitae vestibulum efficitur, ipsum sem blandit nulla,
     eu porta nisi massa non mauris. Quisque volutpat arcu mi,
     eu consectetur purus fringilla et. Etiam eget tempor purus,
     eu aliquam arcu. Integer dapibus sit amet lectus eget bibendum.
include ../layout/footer.jade
